# Ignore directory created by Terraform
.terraform/

# Ignore Terraform lock file
.terraform.lock.hcl

# ignore secrets

my_terraform_key.pem
terraform-user_accessKeys.csv

#ignore vscode

.vscode/

# ignore tf state backup

terraform.tfstate.backup