"""                                                                                                          
                                                                                    ▒▒▒▒▒▒▒▒▒▒            
                                                                                  ▒▒▓▓▓▓▓▓████▒▒▒▒▒▒      
                                                                                ░░▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒░░░░  
                                                                                ▓▓▓▓▓▓██████▓▓▒▒▒▒▓▓▓▓░░  
                                                                              ▓▓▓▓▓▓▓▓██▓▓████            
                                                                            ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓            
                                                                          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓            
                                                                  ▒▒▒▒▓▓▓▓▓▓▓▓▓▓████▓▓▓▓▓▓▓▓▒▒            
                                                            ░░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓              
                                                      ░░▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓████▓▓▓▓██▓▓▓▓▓▓              
                                                ░░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓░░              
                                          ░░▒▒▒▒▒▒▒▒▓▓▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████                
                                      ▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓                
                                    ▒▒▒▒▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▒▒                
                                        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓██████                  
                                  ░░▒▒▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████                    
                              ░░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████████░░                    
                          ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓████████▓▓▓▓████                        
                      ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████▓▓██▓▓▓▓▓▓▓▓▓▓▓▓                          
                  ░░▓▓▓▓▓▓▓▓▓▓██████████▓▓██░░    ▒▒▓▓████████████▓▓██▓▓████▒▒                            
                ▓▓▒▒▒▒  ░░▒▒██▓▓▓▓▒▒                    ████████████████░░                                
                    ░░▓▓▓▓▓▓▒▒                            ██████░░                                        
                ░░▒▒▓▓▒▒                                    ██  ▓▓                                        
              ▓▓▒▒░░                                          ██▒▒░░                                      
                                                            ░░░░▓▓▓▓  ▒▒  ░░                              
                                                ░░░░░░░░░░░░░░▒▒▓▓▓▓▓▓▓▓▓▓▒▒░░░░                          
                                                        ░░░░▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░                  
                                            ░░░░        ░░░░  ░░▒▒░░▓▓▒▒▒▒▒▒░░░░░░░░░░░░                  
                                                  ░░░░    ░░          ░░░░░░░░░░░░░░░░░░░░                
                                                                          ░░░░░░░░░░░░░░░░░░              
                                                                                                          """

The server is for authorized users only.